{% extends "base.html" %}
{% block title %}Add Vehicles{% endblock %}
{% block content %}
    <h1>ADD YOUR VEHICLE</h1>
    <form method="POST">
        <label for="Make">Vehicle Make:</label><br>
        <input type="text" id="Make" name="Make"></br>
        <label for="Model">Vehicle Model:</label><br>
        <input type="text" id="Model" name="Model"></br>
        <label for="Price">Vehicle Price:</label><br>
        <input type="text" id="Price" name=Price></br>
        <label for="Mileage">Vehicle Mileage:</label><br>
        <input type="text" id="Mileage" name="Mileage"></br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}