{% extends "base.html" %}
{% block title %}Add Vehicles{% endblock %}
{% block content %}



    <!-- <style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    </style> -->
    {% if error%}
    <p class=error style="color:red; font-size:20px;"><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="POST" style="margin-left:10px;">
        <label for="Make">Vehicle Make:</label><br>
        <input type="text" id="Make" name="Make"></br>
        <label for="Model">Vehicle Model:</label><br>
        <input type="text" id="Model" name="Model"></br>
        <label for="Price">Vehicle Price:</label><br>
        <!-- <input type="number" name=Price id="Price" required min="1" step="1"></br> -->
        <input type="text" name=Price id="Price"></br>
        <label for="Mileage">Vehicle Mileage:</label><br>
        <!-- <input type="number" name="Mileage" id="Mileage" required min="1" step="1"></br> -->
        <input type="text" name="Mileage" id="Mileage"></br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}