{% extends "base.html" %}

{% block title %}Cars{% endblock %}
{% block content%}
{% with messages = get_flashed_messages()%}
    {% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<style>

table {
    width: 60%;
    border: solid, 1px, black;
    margin-left: 10px;
}
th,td {
    height: 50px;
    border: solid, 1px, black;
    padding-right: 20px;
    padding-left: 10px;
}

</style>

<table>
        <tr>

            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
            <th>Mileage</th>
        </tr>

    {% for car in car_list %}
    <tr>
        <td>{{car.Make}}</td>  
        <td>{{car.Model}}</td>  
        <td>{{ "£{:,}".format(car.Price)}}</td>  
        <td>{{ "{:,}".format(car.Mileage)}}</td>  
    </tr>
   {% endfor %}

    </table>


   

{% endblock %}
    <!-- <table>
        <tr>

            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
            <th>Mileage</th>
        </tr>
        <tr>
            
            <td>Mazda2</td>
            <td>£2500</td>
            <td>87,654mi</td>

        </tr>
        <tr>
            <td>Honda Jazz</td>
            <td>£2000</td>
            <td>102,233mi</td>
        </tr>
        <tr>
            <td>Hyundai i20</td>
            <td>£3500</td>
            <td>74,381mi</td>
        </tr>


    </table> -->
