{% extends "base.html" %}

{% block title %}Cars{% endblock %}
{% block content%}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
    <table>
        <tr>
            <th>Cars</th>
            <th>Price</th>
            <th>Mileage</th>
        </tr>
        <tr>
            <td>Mazda2</td>
            <td>£2500</td>
            <td>87,654mi</td>

        </tr>
        <tr>
            <td>Honda Jazz</td>
            <td>£2000</td>
            <td>102,233mi</td>
        </tr>
        <tr>
            <td>Hyundai i20</td>
            <td>£3500</td>
            <td>74,381mi</td>
        </tr>


    </table>
{% endblock %}
