{% extends "base.html" %}
{% block title %}Edit entries{% endblock %}
{% block content%}
<style>


</style>
<!-- ask for the ID of the car to edit maybe??  -->
<!-- display the error to the user when re-rendering the add page after an error  -->
    {% if error %}
    <div class="alert alert-danger" role="alert" ><strong>Error:</strong> {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="listings-form">
        <h2>Editing</h2>
<form method="POST">
        <label for="Make">Vehicle Make:</label><br>
        <input type="text" class="form-control" id="Make" name="Make" value="{{car.make}}"></br>
        <label for="Model">Vehicle Model:</label><br>
        <input type="text" class="form-control" id="Model" name="Model" value="{{car.model}}"></br>
        <label for="Price">Vehicle Price:</label><br>
        <input type="text" class="form-control" name=Price id="Price" value="{{car.price}}"></br>
        <label for="Mileage">Vehicle Mileage:</label><br>
        <input type="text" class="form-control" name="Mileage" id="Mileage" value="{{car.mileage}}"></br>
        <div class="button-row" role="group">
        <button type="submit" class="btn btn-listing">
          Submit
        </button>
        <a class="btn btn-listing btn-cancel" href="{{url_for('show_cars')}}" role="button">Cancel</a>
        </div>
    </form>
    </div>
{% endblock %}

