{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}
{% block content%}
<h1>Login Page</h1>
  {% if error %}
    <div class="alert alert-danger" role="alert" ><strong>Error:</strong> {{ error }}
    </div>
    {% endif %}
<form method="POST" style="margin-left:10px;">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"></br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"></br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

