{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}
{% block content%}

<h1>Signup Page</h1>
    {% if error %}
    <p class=error style="color:red; font-size:20px;"><strong>Error:</strong> {{ error }}
    {% endif %}
<form method="POST" style="margin-left:10px;">
        <label for="username">Choose your username:</label><br>
        <input type="text" id="username" name="username"></br>
        <label for="password">Choose your password:</label><br>
        <input type="text" id="password" name="password"></br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

